tests/resources/xml_schemas/search_query.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://arxiv.org/schemas/atom" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="affiliation" type="xs:string"/>
  <xs:element name="doi" type="xs:string"/>
  <xs:element name="comment">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:anyURI" name="href" use="optional"/>
          <xs:attribute type="xs:string" name="rel" use="optional"/>
          <xs:attribute type="xs:string" name="type" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="journal_ref">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:anyURI" name="href" use="optional"/>
          <xs:attribute type="xs:string" name="rel" use="optional"/>
          <xs:attribute type="xs:string" name="type" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="primary_category">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="term" use="optional"/>
          <xs:attribute type="xs:anyURI" name="scheme" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>